/*********************************************************************************************************/
/* ~~~~~ BIO SWITCHER
/* *******************************************************************************************************/
/* Credit to Jason Lengstorf - https://jason.af/ */

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);

@font-face {
    font-family: 'jwf';
    src: url('/fonts/jwf-book.woff2') format('woff2'),
      url('/fonts/jwf-book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'jwf';
    src: url('/fonts/jwf-bookitalic.woff2') format('woff2'),
      url('/fonts/jwf-bookitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'jwf';
    src: url('/fonts/jwf-bold.woff2') format('woff2'),
      url('/fonts/jwf-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'jwf';
    src: url('/fonts/jwf-bolditalic.woff2') format('woff2'),
      url('/fonts/jwf-bolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'jwf';
    src: url('/fonts/jwf-ultra.woff2') format('woff2'),
      url('/fonts/jwf-ultra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  :root {
    --color-pink-100: #fcf2f9;
    --color-pink-500: #ff87d7;
    --color-pink-700: #d459ab;
    --color-pink-700-alpha: #d459ab22;
    --color-pink-900: #961d6e;
    --color-pink-900-alpha: #961d6e22;
  
    --color-gray-000: #ffffff;
    --color-gray-000-alpha: #ffffff22;
    --color-gray-050: #f5f4fb;
    --color-gray-100: #d4d0e0;
    --color-gray-300: #b1acb9;
    --color-gray-500: #7f7d87;
    --color-gray-700: #403c4a;
    --color-gray-800: #201d29;
    --color-gray-900: #171321;
    --color-gray-900-alpha: #17132122;
  
    --color-teal-500: #87fffb;
    --color-teal-500-alpha: #87fffb22;
    --color-teal-700: #63ddd9;
    --color-teal-900: #002827;
  
    --color-yellow-500: #ffe742;
    --color-yellow-500-alpha: #ffe74222;
    --color-yellow-700: #ddc62c;
  
    --color-blue-500: #04d2ff;
    --color-blue-500-alpha: #04d2ff22;
    --color-blue-700: #02a7cc;
    --color-blue-900: #0d314a;
  
    --font-family: jwf, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
  
    --color-text-default: var(--color-gray-700);
    --color-text-emphasized: var(--color-gray-800);
    --color-text-heading: var(--color-gray-900);
    --color-text-muted: var(--color-gray-500);
  
    --color-link: var(--color-blue-700);
  
    --color-pink-border: var(--color-pink-900);
    --color-accent-background: var(--color-blue-500-alpha);
  
    --color-primary: var(--color-pink-700);
  
    --color-button-bg: var(--color-background);
    --color-button-border: var(--color-primary);
    --color-button-text: var(--color-primary);
    --color-button-hover-bg: var(--color-pink-700);
    --color-button-hover-border: var(--color-primary);
    --color-button-hover-text: var(--color-gray-000);
  
    --color-background: var(--color-gray-000);
    --color-border: var(--color-gray-100);
    --color-foreground: var(--color-text-default);
  
    --color-home-nav-item-bg: var(--color-gray-000-alpha);
    --color-home-nav-item-active-bg: var(--color-yellow-500);
    --color-home-nav-item-active-border: var(--color-pink-500);
    --color-home-nav-item-active-color: var(--color-gray-900);
  
    --color-hero-text: var(--color-gray-900);
    --color-hero-bg: var(--color-yellow-500);
  
    --color-blue-bg: var(--color-teal-500);
    --color-blue-border: var(--color-teal-700);
  
    --color-footer-bg: var(--color-gray-050);
    --color-footer-border: var(--color-gray-100);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-text-default: var(--color-gray-300);
      --color-text-emphasized: var(--color-gray-100);
      --color-text-heading: var(--color-gray-000);
      --color-text-muted: var(--color-gray-500);
  
      --color-link: var(--color-blue-500);
  
      --color-pink-border: var(--color-pink-900);
  
      --color-button-border: var(--color-pink-900);
      --color-button-text: var(--color-primary);
      --color-button-hover-bg: var(--color-primary);
      --color-button-hover-border: var(--color-gray-900);
      --color-button-hover-text: var(--color-gray-900);
  
      --color-background: var(--color-gray-900);
      --color-border: var(--color-gray-800);
      --color-foreground: var(--color-text-default);
  
      --color-home-nav-item-bg: var(--color-pink-900-alpha);
      --color-home-nav-item-active-bg: var(--color-pink-500);
      --color-home-nav-item-active-border: var(--color-yellow-500);
      --color-home-nav-item-active-color: var(--color-gray-900);
  
      --color-hero-text: var(--color-yellow-500);
      --color-hero-bg: var(--color-gray-900);
  
      --color-blue-bg: var(--color-blue-900);
      --color-blue-border: var(--color-blue-700);
  
      --color-footer-bg: var(--color-gray-800);
      --color-footer-border: var(--color-gray-700);
    }
  }
  
/*
 * ---------------------------------------------------------
 * BIO STYLES
 * ---------------------------------------------------------
 */

#bio {
  padding-left: 18px;
}

@media all and (max-width:450px){
  #bio {
    padding: 0 6.5rem;
    display:flex;
    align-items:center;
  }
}

.bio-container {
  display:flex;
  flex-direction:column;
  gap:30px;
}

@media all and (max-width:450px){
  .bio-container{
    justify-content:center;
    align-content:center;
    align-items:center;
    text-align:center;
    gap:2.5rem;
  }
}

@media all and (max-width:450px) {
.bio-container div {
  display:flex;
  width:100%;
  position:relative;
  left:2px;
}
}

.bio {
  font-size: 1.8rem;
  position:relative;
  left:-5px;
}

@media all and (max-width:450px) {
  .bio {
    position:static;
  }
}

.bio-image-container {
  margin: 0 0 4rem;
  padding: 0;
}

@media all and (max-width:450px){
  .bio-length-control {
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
}
}

.bio-fieldset {
  border: none;
  padding: 0;
}

@media all and (max-width:450px) {
  .bio-fieldset{
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
  }
}

.bio-legend {
  color: var(--color-text-muted);
  font-size: 1.5rem;
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
  position:relative;
  left: -5px;
  text-transform: lowercase;
}

@media all and (max-width:450px) {
  .bio-legend{
    position:static
  }
}

.bio-length-options {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  margin-top:5px;
  position:relative;
  left:-35px;
}

@media all and (max-width: 1442px) and (min-width:1026px) {
  .bio-length-options {
    left:-25px;
  }
}

@media all and (max-width: 1025px) {
  .bio-length-options {
    position:relative;
    left:-20px;
  }
}

@media all and (max-width: 450px) {
  .bio-length-options {
    gap:0;
  }
}

.bio-option {
  cursor: pointer;
  height: calc((300px - 10rem) / 6 + 1rem);
  margin: 0;
  position: relative;
}

.bio-input {
  cursor: pointer;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bio-label-text {
  clip: rect(1px, 1px, 1px, 1px);
  color: var(--color-text-muted);
  font-weight: 400;
  height: 1px;
  letter-spacing: 0.2em;
  overflow: hidden;
  position: absolute;
  top: 80%;
  white-space: nowrap;
  width: 1px;
  margin-top:10px;
}

@media all and (max-width:450px){
  .bio-label-text{
    margin:0;
  }
}

.bio-option:first-of-type .bio-label-text,
.bio-option:last-of-type .bio-label-text {
  clip: auto;
  height: auto;
  overflow: visible;
  width: 60px;
}

.bio-option:first-of-type .bio-label-text {
  left: 32px;
  text-align: left;
}

@media all and (max-width: 1442px) and (min-width: 1026px) {
  .bio-option:first-of-type .bio-label-text {
    left:18px;
  }
}

@media all and (max-width: 1025px) {
  .bio-option:first-of-type .bio-label-text {
    left:15px;
  }
}

@media all and (max-width: 450px) {
  .bio-option:first-of-type .bio-label-text {
    left:16px;
  }
}

.bio-option:last-of-type .bio-label-text {
  right: 32px;
  text-align: right;
}

@media all and (max-width: 1442px) and (min-width: 1026px) {
  .bio-option:last-of-type .bio-label-text {
    right:18px;
  }
}

@media all and (max-width: 1025px) {
  .bio-option:last-of-type .bio-label-text {
    right:15px;
  }
}

@media all and (max-width: 450px) {
  .bio-option:last-of-type .bio-label-text {
    right:16px;
  }
}

.bio-label {
  font-size: 1rem;
  pointer-events: none;
}

.bio-label::before,
.bio-label::after {
  border-radius: 50%;
  content: '';
  display: block;
  left: 50%;
  padding-bottom: calc(0.75rem - 2px);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 3rem;
  width: 3rem;
}

@media all and (max-width:1026px) {
  .bio-label::before,
  .bio-label::after {
    height:2rem;
    width:2rem;
  }
}

@media all and (max-width:450px) {
  .bio-label::before,
  .bio-label::after {
    height:1.5rem;
    width:1.5rem;
  }
}

.bio-label::before {
  border: 1px solid var(--color-pink-500);
  transition: 200ms background linear;
  z-index: 10;
}

.bio-label::after {
  background: var(--color-pink-500);
  opacity: 0;
  transition: 200ms opacity linear;
}

:checked + .bio-label::before,
:hover + .bio-label::before,
:focus + .bio-label::before {
  border-color: var(--color-pink-500);
}

:focus + .bio-label::before {
  outline: 2px solid var(--color-pink-500);
  outline-offset: 0.125rem;
}

:checked + .bio-label::after {
  opacity: 1;
}

.bio-social {
  margin-top: 2.25rem;
}

.bio-connect {
  color: var(--color-text-muted);
  font-size: 0.625rem;
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0 0 0.375rem;
  padding: 0;
  text-align: center;
  text-transform: lowercase;
}

.bio-profiles {
  align-content: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 60px);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.bio-profile {
  margin: 0;
}

.bio-link {
  background: var(--color-pink-700);
  border-radius: 50%;
  display: block;
  height: 60px;
  margin: 0;
  outline-color: transparent;
  outline-offset: 0.25rem;
  outline-width: 2px;
  padding: 0.75rem;
  transition: all 200ms linear;
  transition-delay: 150ms;
}

.bio-link:focus,
.bio-link:hover {
  background: var(--color-pink-700);
  outline-color: var(--color-foreground);
  transition-delay: 0ms;
}

.bio-link path {
  fill: var(--color-gray-000);
  transition: 200ms fill linear;
  transition-delay: 150ms;
}

.bio-link:focus path,
.bio-link:hover path {
  fill: var(--color-blue-500);
  transition-delay: 0ms;
}